*{
    margin:0;
}

a:not(.link){
    color: inherit;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Signika', sans-serif;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1.5;
    text-align: center;
}

nav{
    background-color: #40596b;
    height: 60px;
}

.nav-bar{
    color: #FFD05A;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0.5em;
}

li{
    padding: 10px;
}

.intro{
    background-color: #55C0EC;
    display: flex;
    justify-content: space-around;
    
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.right{
    display: flex;
    width: 50%;
    justify-content: center;
}

.bot-img{
    width: 60%;
    padding: 10% 0% 10% 0%;
}

.ticky-title{
    font-size: 80px;
    padding-top: 1em;
}

.ticky-bold{
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600; 
}

.title-desc{
    font-size: 25px;
    padding: 5%;
    color: white;
    text-align: center;
}

.slack-img{
    max-width: 20%;
}

.slack-button{
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.75);
    font-size: 25px;
    width: 250px;
    cursor: pointer;
    height: 65px;
    padding: 5%;
}

.what-is{
    text-align: center;
    font-size: 40px;
    padding: 1em;
}

.desc{
    display: flex;
    justify-content: space-evenly;
}

.desc-col{
    width: 45%;
    font-size: 19px;
    text-align: start;
}

.desc-close{
    width: 90%;
    font-size: 19px;
    padding: 3%;
    text-align: start;
}

.feature{
    background-color: #90DDAA;
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
}

.how{
    font-size: 40px;
    text-align: center;
    padding: 1em;
    background-color: #90DDAA;
}

.how-col{
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #40596b;
    padding-bottom: 2em;
}

.how-col3{
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;;
    background-color: #40596b;
}

.feature-img{
    width: 60%;
    padding: 15%;
}

.how-desc{
    font-size: 18px;
    background-color: white;
    text-align: center;
    line-height: 1.6;
    padding: 5%;
}

.conclude{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5%;
}

.start-using{
    font-size: 35px;
    padding-bottom: 2em;
}

.description{
    font-size: 20px;
    margin-left: 6%;
    margin-right: 6%;
    text-align: center;
}

.slack-button-div{
    padding: 8%;
}

.slack-button-2{
    background-color: #40596b;
    color: white;
    cursor: pointer;
    font-size: 25px;
    justify-content: space-around;
    height: 70px;
    width: 250px;
}

button{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.25em;
    border: 0.1em;
    border-radius: 0.2em;
    border-color: black;
    border-style: solid;
}

.end-desc{
    font-size: 20px;
}

footer{
    background-color: #40596b;
    color: white;
    text-align: center;
    padding: 2em;
    font-size: 12px;
    line-height: 2.3;
}

.red-decor{
    color: #DC143C;
}

#top-btn {
    
    display:none;
    position:fixed;
    bottom: 1.3em;
    right: 1.8em;
    z-index:99;
    border: none;
    outline: none;
    background: #FFD05A;
    color: #40596b;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    width: fit-content;
}

.top-img{
    width: 1.3em;
}
  
@media(max-width: 650px){
    .nav-bar{
        justify-content: space-between;
        flex-grow: 1;
    }

    .intro{
        flex-direction: column;
        align-content: center;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .desc{
        flex-direction: column;
        align-items: center;
    }
    .desc-col{
        width: 90%;
        padding: 1em;
    }
    .desc-close{
        padding-left: 5%;
    }
    .feature{
        flex-direction: column;
        align-items: center;
    }
    .how-col{
        width: 90%;
        background-clip: content-box;
        padding: 5%;
    }
    .how-col3{
        width: 90%;
        background-clip: content-box;
        padding: 5%;
    }   
}