*{
    margin:0;
}

nav{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    color: yellow;
    display: flex;
    list-style-type: none;
}

li{
    padding: 10px;
}

.intro{
    background-color: skyblue;
    display: flex;
    justify-content: space-around;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.right{
    display: flex;
    width: 50%;
    justify-content: center;
}

.bot-img{
    width: 55%;
}

.ticky-title{
    font-size: 80px;
    padding-top: 1em;
    /* padding-bottom: 0.5em; */
}

.title-desc{
    font-size: 30px;
    padding: 5%;
    color: white;
    text-align: center;
}

.slack-img{
    max-width: 20%;
}

.slack-button{
    justify-content: space-around;
    height: 60px;
    width: 200px;
    padding: 5%;
}


button{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.25em;
    border: 0.1em;
    border-radius: 0.2em;
    border-color: black;
    border-style: solid;
}

.what-is{
    text-align: center;
    font-size: 40px;
    padding: 1em;
}

.desc{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.desc-col{
    width: 45%;
    font-size: 20px;
}

.desc-close{
    width: 90%;
    font-size: 20px;
    padding: 3.33%;
}

.feature{
    background-color: lightgreen;
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
}

.how{
    font-size: 40px;
    text-align: center;
    padding: 1.5em;
    background-color: lightgreen;
}

.how-col{
    width: 30%;
    background-color: grey;
    padding-bottom: 2em;
}

.how-col3{
    width: 30%;
    background-color: grey;
}

.feature-img{
    width: 50%;
    padding: 15%;
}

.how-desc{
    font-size: 20px;
    background-color: white;
}